<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Augli -  Authoring tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'questions/images/col_lo.png' %}" type="image/png" >
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<style>
.body-class{
  margin-top: 80px;
  text-align: center;
}
.level_div{
  margin-top: 20px;

}
.level_t_align{
  margin-left: 40%;
}
.level_div_part{
  text-align: justify;

}
/* #vocab-sele{
  font-size: 21px;
} */
.ques-add{
  background-color: #3F51B5;
  /* gray; */
  padding: 20px 100px;
  margin-bottom: 100px;
  margin-top: 50px;

}
#sub-button{
  background-color: #1A237E;
  padding: 4px 4px;
}
.label{

  margin-top: 10px;
}
select{
  background-color:#535353;
  padding: 4px 4px;
  color: white;
  color: #e5e5e5;
}
option{
  background-color:#a9a9a9;
}
/* .form-control{
  background: black;
} */
.form-align-left{
  text-align: left;
}
</style>
<style>
.ques-edit{
  padding: 10px 20px;
}
.ques_analytics{
  padding: 30px 40px;
}
.question_view{
  margin-top: 40px;
  padding: 10px 20px;
  border-style: solid;
}
.question-edit-text {
  padding: 2px 5px;
  background-color: gray;
  color: white;
}

.question-edit-text:hover {
  background-color: white;
  color: gray;
}
</style>
<style>
h1{
  font-size: 28px;
}
h2{
  font-size: 24px;
}
h3, p {
  font-size: 21px;
}
h4  {
  font-size: 18px;
}
</style>

<style>
.dropbtn, .dropbtn2 {
    background-color: #7986CB;
    /* #4CAF50; */
    color: white;
    padding: 8px 12px;

    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus {
    background-color: #3F51B5;
}

#myInput2, #myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput2:focus, #myInput:focus {outline: 3px solid #ddd;}

.dropdown2, dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content2, .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content2 li, .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown li:hover, .dropdown2 li:hover  {background-color: #ddd}

.show, .show2 {display:block;}
</style>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Authoring Tool</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    </nav>
    <div class="container body-class">
      <h1>Augli Assessment</h1>

      <select id="outer">

        <!-- <option value="option1">Level 1</option>
        <option value="option3">Level 3</option>
        <option value="option2">Level 2</option>
        <option value="option4">Level 4</option>
        <option value="option5">Level 5</option>
        <option value="option6">Level 6</option>
        <option value="option7">Level 7</option>
        <option value="option8">Level 8</option>
        <option value="option9">Level 9</option>
        <option value="option10">Level 10</option>
        <option value="option11">Level 11</option>
        <option value="option12">Level 12</option>
        <option value="option13">Level 13</option>
        <option value="option14">All Questions</option> -->
      </select>
      <div class="level_div">
        <!-- <h2 id="level_t">Level 1 </h2> -->
        <div class="level_t_align">
        <h4 class="level_div_part">Reading Score :
            <span id="level_read_range"></span>
        </h4>

        <h4 class="level_div_part">Questions added :
            <span id="level_question_added">  </span>
        </h4>
<!--
        <h4 class="level_div_part">Level Vocabulary :
            <span>

                <select id="allow-vocab">

                  <option value="option1">2018</option>
                </select>


            </span>

        </h4>
        <h4 class="level_div_part">Cumulative Vocabulary :
            <span>
                <select id="Cumulative-allow-vocab">
                  <option value="option1">2018</option>
                </select>

            </span>
        </h4> -->
        <h4 class="level_div_part">

          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Allowed level Vocabulary</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            </div>
            </div>
        </h4>

        <h4 class="level_div_part">

          <div class="dropdown2">
            <button onclick="myFunction2()" class="dropbtn2">Allowed Cumulative Vocabulary</button>
            <div id="myDropdown2" class="dropdown-content2">
              <input type="text" placeholder="Search.." id="myInput2" onkeyup="filterFunction2()">
            </div>
            </div>
        </h4>
      </div>

      </div>
      <div class="ques-add">
          <h3> Add Question </h3>
          <h6> Choose level and then make question in respective readability and vocabulary range. </h6>
          <form class="form-align-left">
            <div class="form-group">
              <!-- <label for="question-type">Question Type</label> -->
              <select class="" id="question-type">
                <option value="select">Question Type</option>
                <option value="type1">Comprehension</option>
                <option value="type2">Vocabulary</option>
                <option value="type3">Grammar</option>
              </select>
              &emsp;
              <select class="" id="question-genre">

                <option value="choose">Question Genre</option>
                <option value="genre1">Politics</option>
                <option value="genre2">Sports</option>
                <option value="genre3">Science</option>
                <option value="genre4">Entertainment</option>
                <option value="genre5">World</option>
                <option value="genre6">Nation</option>
                <option value="genre7">Politics</option>
                <option value="genre8">Business and Commerce</option>
                <option value="genre9">Tech</option>
                <option value="genre10">Lifestyle</option>
                <option value="genre11">Others</option>

              </select>
              <br>
              <br>
              <!-- <label for="question-text">Question text:</label> -->
              <textarea class="form-control" placeholder="Question text .." rows="2" id="question-text"></textarea>
                <br>
              <!-- <br>
              <label for="question-choice1">Choice 1:</label> -->
              <textarea class="form-control" placeholder="Choice 1 .." rows="1" id="question-choice1"></textarea>
              <br>
              <!-- <br>
              <label for="question-choice2">Choice 2:</label> -->
              <textarea class="form-control" placeholder="Choice 2 .." rows="1" id="question-choice2"></textarea>
              <br>
              <!-- <br>
              <label for="question-choice3">Choice 3:</label> -->
              <textarea class="form-control" placeholder="Choice 3 .." rows="1" id="question-choice3"></textarea>
              <br>
              <!-- <br>
              <label for="question-choice4">Choice 4:</label> -->
              <textarea class="form-control" placeholder="Choice 4 .." rows="1" id="question-choice4"></textarea>
              <br>
              <!-- <label for="option-sele">Correct Answer:</label>
              <br> -->
              <select class="option-sele" id="option-sele">
                <option value="select">Correct Answer</option>
                <option value="choice1">Choice 1</option>
                <option value="choice2">Choice 2</option>
                <option value="choice3">Choice 3</option>
                <option value="choice4">Choice 4</option>
              </select>
            </div>
          </form>
          <button type="submit" id="sub-button"  class="btn">Submit</button>
      </div>


      <div class="ques-edit">
        <h3> Edit Question </h3>
        <div class='question_view'>
          <h4 id="level_ques_edit">Question 1 From Level 1 </h4>
          <form class="form-align-left">
            <div class="form-group">
              <label for="question-text">Question text:</label>
              <p class='question-edit-text' contenteditable="true">
                The race for Fortis Healthcare Limited has intensified with the company receiving an unsolicited non-binding expression of interest from Fosun Health Holdings Limited, a wholly-owned subsidiary of Fosun International Limited.
              </p>
              <label for="question-text">Choice 1:</label>
              <p class='question-edit-text' contenteditable="true">
                Limited
              </p>
              <label for="question-text">Choice 2:</label>
              <p class='question-edit-text' contenteditable="true">
                Healthcare
              </p>
              <label for="question-text">Choice 3:</label>
              <p class='question-edit-text' contenteditable="true">
                receiving
              </p>
              <label for="question-text">Choice 4:</label>
              <p class='question-edit-text' contenteditable="true">
                expression
              </p>
              <label for="question-text">Correct Answer:</label>
              <p>
              <select id="vocab-sele">
                <option value="choice1">Choice 1</option>
                <option value="choice2">Choice 2</option>
                <option value="choice3">Choice 3</option>
                <option value="choice4">Choice 4</option>
              </select>
            </p>


            </div>
          </form>

        </div>
      </div>
      <div class="ques_analytics">
        <table id="myTable">
          <tr id="header_row">
            <th>Level</th>
            <th>Comprehension</th>
            <th>Vocabulary</th>
            <th>Grammar</th>
            <th>Total</th>
          </tr>
        </table>

      </div>


      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

    </div>
    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        //alert(111);
        document.getElementById("myDropdown").classList.toggle("show");
        $("#myDropdown2").attr("class","dropdown-content2");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("li");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    //

    function myFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show2");
        $("#myDropdown").attr("class","dropdown-content");

    }

    function filterFunction2() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown2");
        a = div.getElementsByTagName("li");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    var reA = /[^a-zA-Z]/g;
    var reN = /[^0-9]/g;
    function sortAlphaNum(a,b) {
        var aA = a.replace(reA, "");
        var bA = b.replace(reA, "");
        if(aA === bA) {
            var aN = parseInt(a.replace(reN, ""), 10);
            var bN = parseInt(b.replace(reN, ""), 10);
            return aN === bN ? 0 : aN > bN ? 1 : -1;
        } else {
            return aA > bA ? 1 : -1;
        }
    }
    </script>
    <script>
    selectedVal = "option1";
    selectedText = "Level 1";
    level_range_detail = {{ level_range_detail | safe }};
    level_vocab_detail = {{ level_vocab_detail | safe }};
    level_ques_detail = {{ level_ques_detail | safe }};
    level_ques_all_detail = {{level_ques_all_detail | safe}};
    levels_keys = Object.keys(level_range_detail).sort(sortAlphaNum);

    window.onload = function () {
        fillltable();
        var select = document.getElementById("outer");
        for(var i = 0; i < levels_keys.length; ++i) {
          levels_keys_name = levels_keys[i]
          var option = document.createElement('option');
          option.text = option.value = levels_keys_name;
          select.add(option);
        }
        var option = document.createElement('option');
        option.text = option.value = "All Questions";
        select.add(option);

        // var option = document.createElement('option');
        // option.text = "All Questions";
        // option.value = "option14";
        // select.add(option);

        //
        all_level_vocab = level_vocab_detail["Level 1"];
        all_level_vocab.reverse();
        // var select = document.getElementById("allow-vocab");
        // for(var i = 0; i < all_level_vocab.length; ++i) {
        //     var vocav_this_level = all_level_vocab[i]
        //     var option = document.createElement('option');
        //     option.text = option.value = vocav_this_level;
        //     select.add(option, 0);
        // }
        //
        for(var i = 0; i < all_level_vocab.length; ++i) {
            var vocav_this_level = all_level_vocab[i]
            var option = document.createElement('li');
            option.textContent = vocav_this_level;
            $("#myInput").after(option);
        }

        //


        var all_level_ques_no = level_ques_detail["Level 1"];
        $("#level_question_added").text(all_level_ques_no);
        //level_read_range
        var all_level_range_no = level_range_detail["Level 1"]["range"];
        $("#level_read_range").text(all_level_range_no);


    };

  </script>
  <script>

    $(document).ready(function () {

     // $(".ques-edit").hide() level_div
      $(".ques-edit").hide();
      $(".ques_analytics").hide();
      //$(".ques-add").hide();
        $('#outer').change(function () {
        v = $(this).val().slice(6)
        $("#level_t").text("Level" + v)
      })

           $("#sub-button").on("click", function(){
                var question_type = $("#question-type").val();
                var question_genre = $("#question-genre").val();
                var question_txt = $("#question-text").val();
                var option1 = $("#question-choice1").val();
                var option2 = $("#question-choice2").val();
                var option3 =  $("#question-choice3").val();
                var option4 = $("#question-choice4").val();
                var option_choice = $("#option-sele").val().slice(6);
                var question_level = $("#outer").val();
                var level_no = selectedVal.slice(6);

                var clean = datacheck(question_type, question_genre, question_txt, option1, option2, option3, option4, option_choice)
                if (clean.length!=1){

                  $("#"+clean[1]).css("background-color", "#f6544c");
                  fill_modal_data("Add the mentioned data",clean[0])
                  $("#myModal").modal()
                }
                else{
                    a = save_question(question_type, question_genre, question_txt, option1, option2, option3, option4, option_choice, level_no);
                }

                //backendquery

            });

            $("#outer").change(function() {
                selectedVal = this.value;
                selectedText = this.options[this.selectedIndex].text;
                $("#allow-vocab").empty();

                if (selectedVal=="All Questions"){
                    $(".level_div").hide()
                    $(".ques-edit").hide();
                    $(".ques_analytics").show();
                    $(".ques-add").hide();
                }
                else
                {
                    $(".level_div").show()
                    $(".ques-edit").hide();
                    $(".ques-add").show();
                    $(".ques_analytics").hide();

                    all_level_vocab = level_vocab_detail[selectedVal];
                    all_level_vocab.reverse();
                    // var select = document.getElementById("allow-vocab");
                    // for(var i = 0; i < all_level_vocab.length; ++i) {
                    //     var vocav_this_level = all_level_vocab[i]
                    //     var option = document.createElement('option');
                    //     option.text = option.value = vocav_this_level;
                    //     select.add(option, 0);
                    // }
                    //
                    $("#myInput").siblings().remove();
                    for(var i = 0; i < all_level_vocab.length; ++i) {
                        var vocav_this_level = all_level_vocab[i]
                        var option = document.createElement('li');
                        option.textContent = vocav_this_level;
                        $("#myInput").after(option);
                    }
                    //
                    var inde = levels_keys.indexOf(selectedText)
                     Cumulative_list = []
                    for (var i=0; i < inde; ++i)  {
                      Cumulative_list = Cumulative_list.concat(level_vocab_detail[levels_keys[i]])

                    }
                     Cumulative_list.reverse();
                    // $("#Cumulative-allow-vocab").empty();
                    // var select = document.getElementById("Cumulative-allow-vocab");
                    //
                    // for(var i = 0; i < Cumulative_list.length; ++i) {
                    //     var vocav_this_level = Cumulative_list[i]
                    //     var option = document.createElement('option');
                    //     option.text = option.value = vocav_this_level;
                    //     select.add(option, 0);
                    // }
                    //
                    $("#myInput2").siblings().remove();
                    for(var i = 0; i < Cumulative_list.length; ++i) {
                        var vocav_this_level = Cumulative_list[i]
                        var option = document.createElement('li');
                        option.textContent = vocav_this_level;
                        $("#myInput2").after(option);
                    }
                    //
                    var all_level_ques_no = level_ques_detail[selectedVal];
                    $("#level_question_added").text(all_level_ques_no);
                    //level_read_range
                    var all_level_range_no = level_range_detail[selectedVal]["range"];
                    $("#level_read_range").text(all_level_range_no);



                  }


            });








      //



    });
 </script>

<script>
    function save_question(question_type, question_genre, question_txt, option1, option2, option3, option4, option_choice,level_no){
    		formdata=new FormData();
        formdata.append("question_type",question_type);
        formdata.append("question_genre",question_genre);
    		formdata.append("question_txt",question_txt);
    		formdata.append("option1",option1);
        formdata.append("option2",option2);
        formdata.append("option3",option3);
        formdata.append("option4",option4);
        formdata.append("option_choice",option_choice);
        formdata.append("level_no",level_no);
    			$.ajax({


            beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
    				url: "/questions/add-question",
    				data:formdata,
            cache: false,
    				type: "POST",
            contentType:false,
            processData: false,
    				success: function(response) {

                main = response.main;
                body = response.body;
                fill_modal_data(main,body)
                $("#myModal").modal()

            },
    				error: function(xhr) {

            }

          });

    	}


      function getCookie(c_name) {
             if(document.cookie.length > 0) {
                 c_start = document.cookie.indexOf(c_name + "=");
                 if(c_start != -1) {
                     c_start = c_start + c_name.length + 1;
                     c_end = document.cookie.indexOf(";", c_start);
                     if(c_end == -1) c_end = document.cookie.length;
                     return unescape(document.cookie.substring(c_start,c_end));
                 }
             }
             return "";
         }

         function fill_modal_data(modaltitle,modalbody) {
           $(".modal-title").text(modaltitle);
           $(".modal-body").text(modalbody);

         }


         function datacheck(question_type, question_genre, question_txt, option1, option2, option3, option4, option_choice) {
           //question_txt = question_txt.trim()
           match_option = check_same_value([option1, option2, option3, option4])
           if (question_type=="select") {
             return ["Select Question Type","question-type"]
           }
           else if (question_genre=="choose"){
             return ["Select Question Genre","question-genre"]
           }
           else if (question_txt==""){
             return ["Add question","question-text"]
           }
           else if(option1=="") {
               return  ["Add option 1","question-choice1"]
           }
           else if(option2=="") {
               return ["Add option 2","question-choice2"]
           }
           else if(option3=="") {
               return ["Add option 3","question-choice3"]
           }
           else if(option4=="") {
               return ["Add option 4","question-choice4"]
           }
           else if (option_choice ==="") {
               return ["Provide Correct Answer","option-sele"]
           }
           else if (match_option[0]===0) {
             var tag = "question-choice" + String(match_option[1] + 1)
             return ["Options should be unique", tag]
           }


             return "1"
         }

         function check_same_value(arry_choice) {

           for (var i =0; i < arry_choice.length-1; i++) {

             for (var j=i+1; j < arry_choice.length; j++ ) {

              if (arry_choice[i]===arry_choice[j] ){
                return [0,j]

              }
            }

           }
           return [1,3]

         }

         function fillltable() {
             var table = document.getElementById("myTable");
             //
             //
             // var cell2 = row.insertCell(1);
             // cell1.innerHTML = "NEW CELL1";
             // cell2.innerHTML = "NEW CELL2";

             for (var i=0; i<levels_keys.length; i++){
               var row = table.insertRow(-1);
               var level_n = levels_keys[i];
               var cell0 = row.insertCell(0);
               cell0.innerHTML = level_n;
               var row_detail = level_ques_all_detail[level_n];
               var cell1 = row.insertCell(1);
               cell1.innerHTML = row_detail[0];
               var cell2 = row.insertCell(2);
               cell2.innerHTML = row_detail[1];
               var cell3 = row.insertCell(3);
               cell3.innerHTML = row_detail[2];
               var cell4 = row.insertCell(4);
               cell4.innerHTML = row_detail[3];
             }
             var row = table.insertRow(-1);
             var level_n = "Total";
             var cell0 = row.insertCell(0);
             cell0.innerHTML = level_n;
             var row_detail = level_ques_all_detail[level_n];
             var cell1 = row.insertCell(1);
             cell1.innerHTML = row_detail[0];
             var cell2 = row.insertCell(2);
             cell2.innerHTML = row_detail[1];
             var cell3 = row.insertCell(3);
             cell3.innerHTML = row_detail[2];
             var cell4 = row.insertCell(4);
             cell4.innerHTML = row_detail[3];
         }
</script>


</body>
</html>
